#start slow, speed up after reset
adapter_khz 1000

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME ajJEM
}

if { [info exists ENDIAN] } {
   set  _ENDIAN $ENDIAN
} else {
   set  _ENDIAN little
}

if { [info exists CPUTAPID] } {
   set  _CPUTAPID $CPUTAPID
} else {
   set  _CPUTAPID 0x00100fff
}

reset_config none

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0x0f -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME jem -endian $_ENDIAN -chain-position $_TARGETNAME 

#$_TARGETNAME configure -event reset-assert-pre {
#}

#$_TARGETNAME configure -event reset-start { 
#	echo "Resetting ..."
#}

#$_TARGETNAME configure -event reset-end {
#}

#$_TARGETNAME configure -event reset-init {
#}

# For more information about the configuration files, take a look at:
# openocd.texi
